{% extends "_layouts/default" %}

{% set title = entry.title %}

{% block main %}

    <section class="pane pb-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12">
                    <h1 class="mb-0">{{ entry.title }}</h1>
                    <p class="text-light">{{ entry.subtitle }}</p>
                </div>
            </div>
        </div>
    </section>

    {% for block in entry.showcaseBody.all() %}
        {% switch block.type %}

        {% case 'textField' %}
            <section class="pane">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-12">
                            {{ block.text }}
                        </div>
                    </div>
                </div>
            </section>

        {% case 'imageField' %}
            <section class="pane">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <figure class="media justify-content-center">
                                {% set image  = block.image.one() %}
                                {% set imageTransform = { width: 1920, mode: 'crop' } %}
                                {% if image %}
                                    <img src="{{ siteUrl }}{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
                                {% endif %}
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

        {% case 'iframeField' %}
            <section class="pane">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% set iframe = block.iframe %}
                            {% if iframe %}
                                <div class="media__container">
                                    <iframe class="media__video" src="{{ iframe }}" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>


        {% endswitch %}
    {% endfor %}

    <section id="gallery" class="pane">
        <div class="container">
            <div class="row row--equalized gutters-4 justify-content-center">
                {% set images = entry.gallery.all() %}
                {% set imageTransform = { width: 800, height: 600, mode: 'crop' } %}

                {% if images %}
                    {% for image in images %}
                        <div class="col-md-6">
                            <figure class="media media--overlay position-relative image-zoom">
                                <a href="{{ siteUrl }}{{ image.getUrl() }}" title="{{ image.title }}" data-fancybox="default">
                                    <img src="{{ siteUrl }}{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
                                    <div class="media__icon">
                                        <svg class="icon icon--36 text-white">
                                            <use xlink:href="{{ siteUrl }}app/assets/img/symbols.svg#expand"></use>
                                        </svg>
                                    </div>
                                </a>
                            </figure>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}