<div class="container d-flex flex-column align-items-center justify-content-lg-between">
    <div class="main-header__logo logo mb-4 mb-lg-0">
        <a class="logo__link" href="{{ siteUrl }}#hero" title="Parallel Realities" data-smooth-scroll>
            <svg class="logo__image">
                <use xlink:href="{{ alias('@web/app/assets/img/symbols.svg#logo') }}"></use>
            </svg>
        </a>
        <p class=" main-header__slogan text-center text-uppercase">Envisioning virtual realities</p>
    </div>
    <nav class="main-header__nav mt-2">
        <ul class="nav nav--primary flex-nowrap" id="main-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ siteUrl }}#hero" data-smooth-scroll>
                    <span class="nav-text">Parallel</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ siteUrl }}#about" data-smooth-scroll>
                    <span class="nav-text">About</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ siteUrl }}#cases" data-smooth-scroll>
                    <span class="nav-text">Cases</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ siteUrl }}#contact" data-smooth-scroll>
                    <span class="nav-text">Contact</span>
                </a>
            </li>
        </ul>
    </nav>
</div>