<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        {% block head %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="utf-8">
            <title>
                {% if title is defined %}{{ title }}
                    -
                {% endif %}{{ siteName }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{{ siteUrl }}app/assets/css/app.css">
        {% endblock %}
    </head>
    <body {% if bodyClass is defined %} class="{{ bodyClass }}" {% endif %}>
        {% block body %}
        {% endblock %}

        {% block foot %}
            <script src="{{ siteUrl }}app/assets/js/app.js"></script>
        {% endblock %}
    </body>
</html>