{% set image  = entry.heroImage.one() %}
{% set videoId = entry.heroVideoId %}
{% set smallImageTransform = { width: 1024, mode: 'crop' } %}
{% set mediumImageTransform = { width: 1920, mode: 'crop' } %}
{% set largeImageTransform = { width: 2560, mode: 'crop' } %}
{% set extraLargeImageTransform = { width: 3840, mode: 'crop' } %}

{% set heroClass = ['hero'] %}

{% if extensionClasses|default %}
    {% set heroClass = heroClass|merge(extensionClasses) %}
{% endif %}

<section class="{{ heroClass|join(' ') }}">
    <div class="hero__video-wrapper">
        {% if image %}
            <figure class="hero__media media">
                <img class="hero__image img-fluid" src="{{ image.getUrl(smallImageTransform) }}" srcset="{{ image.getUrl(smallImageTransform) }} 1024w, {{ image.getUrl(mediumImageTransform) }} 1920w, {{ image.getUrl(largeImageTransform) }} 2560w, {{ image.getUrl(extraLargeImageTransform) }} 3840w" alt="{{ image.title }}">
            </figure>
        {% endif %}
        {% if videoId %}
            <iframe class="hero__video" src="https://player.vimeo.com/video/{{ videoId }}?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-vimeo-player data-calculate-video-height></iframe>
        {% endif %}
    </div>
    {% if showEnter is defined %}
        <div class="hero__btn d-xl-none">
            <button class="btn btn-link px-0" data-toggle-nav>
                <span class="btn-text">Enter</span>
            </button>
        </div>
    {% endif %}
</section>
