{% set image  = entry.heroImage.one() %}
{% set videoId = entry.heroVideoId %}
{% set imageTransform = { width: 2560, height: 1440, mode: 'crop' } %}

<section class="hero">
    {% if videoId and image %}
        <div class="hero__video-wrapper">
            <figure class="hero__media media">
                <img class="hero__image img-fluid" src="{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
            </figure>
            <iframe class="hero__video d-none d-lg-flex" src="https://player.vimeo.com/video/{{ videoId }}?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    {% else %}
        <figure class="hero__media media">
            <img class="hero__image img-fluid" src="{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
        </figure>
    {% endif %}
</section>
