{% set alignment = block.alignment %}

<section class="pane">
    <div class="container">

        {% switch alignment %}

        {% case 'left' %}
        <div class="row justify-content-start">
            <div class="col-12">
                <article class="text-left">
                    <h4>{{ block.heading }}</h4>
                    {{ block.textBlock }}
                </article>
            </div>
        </div>
        {% case 'center' %}
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <article class="text-center">
                    <h4>{{ block.heading }}</h4>
                    {{ block.textBlock }}
                </article>
            </div>
        </div>

        {% case 'right' %}
        <div class="row justify-content-end">
            <div class="col-12">
                <article class="text-right">
                    <h4>{{ block.heading }}</h4>
                    {{ block.textBlock }}
                </article>
            </div>
        </div>

        {% endswitch %}

    </div>
</section>